@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavors;

<h2>Flavors Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This Flavors does not contain any Treats</p>
}
else
{
  <h4>Treats the Flavors contains:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavors", "Edit", new { id = Model.FlavorsId })</p>
<p>@Html.ActionLink("Delete Flavors", "Delete", new { id = Model.FlavorsId })</p>
