@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<h2>Add a Flavors</h2>

<h4>Add a Flavors to this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavors")
    @Html.DropDownList("FlavorsId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
