@model SweetSavory.Models.Treat

<h2>Create a new Treat</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select Flavors")
    @Html.DropDownList("FlavorsId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")
